* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
#19191A black
#479761 green
#CEBC81 yellowish   
#A16E83 dark pink
#B19f9E grayish pink */

/* -------------------------HEADER --------------*/
header {
    background-color: #19191A;
    padding: 20px 10px;
    /* padding : top bottom */
    border-bottom: 3px solid #479761;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

header a {
    
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px; /* sets amount of space above and below inline elements */ 
    border-radius: 4px;
    margin: 2px;
}

.dan-logo {
    width: 150px;

}

header a:hover {
    background-color: #479761;
    color: #19191A;
}

header a.active {
    background-color: #479761;
    color: #19191A;
}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.headerLinks {
    padding-bottom: 20px;
}


.header-right span {
    color: #479761;
}

/*-------BODY------------*/

section {
    background-color: #CEBC81;
}

.mySlides {
    height: 600px;
    display: none;
}

.slideButtons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.slideButtons button {
    width: 100px;
    background-color: #479761;
    font-size: 16px;    
    font-weight: bold;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.carousel-item-visible {
    display: block;
}

.carousel-item-hidden {
    display: hide;
}
.home-text {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    display: flex;
    width: 100%;
}

.home-text h2 {
    text-align: center;
    padding-top: 35px;
}

.home-text p {
    margin: 30px;
    font-size: 14px;
}

.home-text div {
    width: 100%;
}


.motto {
    background-color: rgb(226, 208, 149);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.motto p {
    font-family: 'Marck Script', cursive;
    font-size: 24px;
    width: 40%;
    margin: 20px 0;
}

.motto h3{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    position: relative;
    left: 170px;
}

.motto span {
    color: #479761;
}

.services-homepage {
    height: 330px;
    justify-content: center;
    align-items: center;
}

.services-homepage h2{
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.services-homepage img {
    width: 300px;
    height: 150px;
} 

.services-homepage p {
    width: 300px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    align-items: center;
    background-color: rgb(161, 110, 131, .4);
    padding-top: 15px;
}

.services-homepage span {
    color: #479761;
}

.services {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    justify-content: center;
}

.services div {
    padding: 4px;
}

/*--------------CONTACT PAGE---------*/


.info h1 {
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
}

.info i {
    font-size: 80px;
    color: #479761;
    padding-left: 10px;
    padding-top: 10px;
}


.contact-info {
    display: grid;
    align-content: center;
    background-image: url(./landscape3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 400px;
}

.contact-info div{
    padding: 20px;
}



.contact-page-img img {
    width: 700px;
    
}

.phone-number, .location {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 162px;
    background-color: rgba(160, 160, 160, 0.788);
    justify-self: right;
    text-align: center;
}

.booking h2 {
    background-color: rgb(226, 208, 149);
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.booking span {
    color: #479761;
}

.contact-form {
    height: 275px;
    display: flex;
    justify-content: space-evenly;
    
}
.form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.form input, select, button {
    height: 40px;
    font-size: 16px;
}

.contact-form button, .submit-email button {
    margin-top: 6px;
}

.contact-form input, .submit-email input {
    padding-left: 5px;
}
#fname {
    margin-top: 20px;
}

.map-bg {
    margin: auto 0;
}

#map { 
    width: 500px;
    height: 250px;
    background-color: grey;
}

.subscribe{
    background-color: rgb(226, 208, 149);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe h2 {
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
}

.subscribe p {
    text-align: center;
}

.submit-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    width: 250px;
}

.submit-email input, button {
    width: 100%;
    height: 30px;
}

/* ----------------ABOUT US -----------*/

.about-us {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.left-container-about-us {
    margin: 30px;
    width: 450px;
}

.left-container-about-us h1{
    margin: 20px 0;
}

.about-us img {
    width: 50%;
    margin: 20px;
}

.awards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(226, 208, 149);
}

.right-container-awards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    width: 550px;
}

.right-container-awards h1 {
    margin: 20px 0;
}

.awards img {
    width: 50%;
    margin: 20px;
}


.meet-the-teem {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 435px;
}

.meet-the-teem h1 {
    padding: 20px;
    letter-spacing: 1px;
}

.meet-the-teem p {
    padding: 0px 80px 25px 80px;
    line-height: 22px;
}

.meet-the-teem img {
    width: 100%;
    object-fit: cover;
}

.meet-the-teem h3 {
    font-size: 14px;
}

.teem {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-column-gap: 100px;
    grid-row-gap: 15px;
    justify-content: center;
}

#marn {
    height: 200px;
}

.meet-the-teem span {
    color: #479761;
}


/* -------FOOTER --------*/

footer {
    height: 100px;
    background-color:  #19191A; 
    color: white;
    font-family: 'Oswald', sans-serif;
    display: grid;
    place-items: center center; /* short hand for align-items and justify items */ 
    justify-content: space-evenly;
}

footer p {
    font-size: 18px;
    padding-top: 15px;
}

footer a {
    text-decoration: none;
    color: #479761;
    padding: 12px;
}

footer a:hover {
    color: white;
}

.social-media-btns {
   font-size: 30px;
}


