* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
#19191A black
#479761 green
#CEBC81 yellowish   
#A16E83 dark pink
#B19f9E grayish pink */

/* -------------------------HEADER --------------*/
header {
    overflow: hidden;
    background-color: #19191A;
    padding: 20px 10px;
    /* padding : top bottom */
    border-bottom: 3px solid #479761;
    height: 100%;
}

header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px; /* sets amount of space above and below inline elements */ 
    border-radius: 4px;
    margin: 2px;
}

.dan-logo {
    width: 220px;
    transform: translate(-20px);
}

header a:hover {
    background-color: #479761;
    color: #19191A;
}

header a.active {
    background-color: #479761;
    color: #19191A;
}

.header-right {
    float: right;
    color: white;
    line-height: 90px;
    font-family: 'Montserrat', sans-serif;
}

.header-right h1 {
    text-align: center;

}
.header-right span {
    color: #479761;
}

/*-------BODY------------*/

section {
    background-color: #CEBC81;
}

.mySlides {
    height: 600px;
}

.home-text {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    display: flex;
    width: 100%;
}

.home-text h2 {
    text-align: center;
    padding-top: 35px;
}

.home-text p {
    margin: 30px;
    font-size: 14px;
}

.home-text div {
    width: 100%;
}


.motto {
    background-color: rgb(226, 208, 149);
    height: 100%;
}
.motto p {
    padding-top: 30px;
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 24px;
}

.motto h3{
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    padding-right: 16px;
    padding-bottom: 14px;
}

.motto span {
    color: #479761;
}

.services-homepage {
    height: 330px;
    justify-content: center;
    align-items: center;
}

.services-homepage h2{
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.services-homepage img {
    width: 300px;
    height: 150px;
} 

.services-homepage p {
    width: 300px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    align-items: center;
    background-color: #B19f9E;
    padding-top: 15px;
}

.services-homepage span {
    color: #479761;
}

.services {
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
    justify-content: center;
}

.services div {
    padding: 4px;
}

/*--------------CONTACT PAGE---------*/


.info h1 {
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
}

.info i {
    font-size: 80px;
    color: #479761;
    padding-left: 10px;
    padding-top: 10px;
}


.contact-info {
    display: grid;
    align-content: center;
    background-image: url(./landscape3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 400px;
}

.contact-info div{
    padding: 20px;
}



.contact-page-img img {
    width: 700px;
    
}

.phone-number, .location {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 162px;
    background-color: rgba(160, 160, 160, 0.788);
    justify-self: right;
    text-align: center;
}

.booking h2 {
    background-color: rgb(226, 208, 149);
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.booking span {
    color: #479761;
}

.contact-form {
    height: 275px;
    display: flex;
    justify-content: center;
    
}

input, select, button {
    display: block;
    width: 200px;
    height: 30px;
    text-align: center;
    margin: 5px;
  
}

button {
    background-color: #479761;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    
}

#fname {
    margin-top: 20px;
}

.map-bg {
    padding-top: 20px;
    padding-left: 15px;
}

#map { 
    width: 300px;
    height: 220px;
    background-color: grey;
}

.subscribe{
    background-color: rgb(226, 208, 149);
    font-family: 'Montserrat', sans-serif;
}

.subscribe h2 {
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
}

.subscribe p {
    text-align: center;
}

.submit-email {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding: 20px;
}

/* ----------------ABOUT US -----------*/

.about-us {
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

.about-us h1 {
    padding: 20px;
    letter-spacing: 1px;
}

.about-us p{
    line-height: 22px;
    padding: 0px 80px 25px 80px;
    
}   

.about-us img {
    width: 85%;
    height: 100%;
    
}

.awards {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(226, 208, 149);
}

.awards h1 {
    padding: 20px;
    letter-spacing: 1px;
}

.awards p {
    line-height: 22px;
    padding-bottom: 25px;
}

.awards img {
    width: 85%;
    height: 80%;
}

/* -------FOOTER --------*/

footer {
    height: 100px;
    background-color:  #19191A; 
    color: white;
    font-family: 'Oswald', sans-serif;
    display: grid;
    place-items: center center; /* short hand for align-items and justify items */ 
    justify-content: space-evenly;
}

footer p {
    font-size: 18px;
    padding-top: 15px;
}

footer a {
    text-decoration: none;
    color: #479761;
    padding: 12px;
}

footer a:hover {
    color: white;
}

.social-media-btns {
   font-size: 30px;
}


@media screen and (max-width: 768px) {
    .header {
        display: block;
    }

    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
      display: block;
    }

    .home-text p {
        font-size: 10px;
    }

  }