* {
    margin: 0;
    padding: 0;
}

/* 
#19191A black
#479761 green
#CEBC81 yellowish   
#A16E83 dark pink
#B19f9E grayish pink */

/* -------------------------HEADER --------------*/
header {
    overflow: hidden;
    background-color: #19191A;
    padding: 20px 10px;
    /* padding : top bottom */
    border-bottom: 3px solid #479761;
    height: 100%;
    
}

header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px; /* sets amount of space above and below inline elements */ 
    border-radius: 4px;
    margin: 2px;
}

.dan-logo {
    width: 220px;
    transform: translate(-20px);
}

header a:hover {
    background-color: #479761;
    color: #19191A;
}

header a.active {
    background-color: #479761;
    color: #19191A;
}

.header-right {
    float: right;
    color: white;
    line-height: 90px;
    font-family: 'Montserrat', sans-serif;
}

.header-right h1 {
    text-align: center;

}

.header-right span {
    color: #479761;
}

/*-------BODY------------*/

section {
    background-color: #CEBC81;
}

.mySlides {
    height: 600px;
}

.home-text {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    display: flex;
    width: 100%;
}

.home-text h2 {
    text-align: center;
    padding-top: 35px;
}

.home-text p {
    margin: 30px;
    font-size: 14px;
}

.home-text div {
    width: 100%;
}


.motto {
    background-color: rgb(226, 208, 149);
    height: 100%;
}
.motto p {
    padding-top: 30px;
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 24px;
}

.motto h3{
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    padding-right: 16px;
    padding-bottom: 14px;
}

.motto span {
    color: #479761;
}

.services-homepage {
    height: 330px;
    justify-content: center;
    align-items: center;
}

.services-homepage h2{
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.services-homepage img {
    width: 300px;
    height: 150px;
} 

.services-homepage p {
    width: 300px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    align-items: center;
    background-color: #B19f9E;
}

.services-homepage span {
    color: #479761;
}

.services {
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
    justify-content: center;
}

.services div {
    padding: 4px;
}

/*--------------CONTACT PAGE---------*/



/* -------FOOTER --------*/

footer {
    height: 100px;
    background-color:  #19191A; 
    color: white;
    font-family: 'Oswald', sans-serif;
    display: grid;
    place-items: center center; /* short hand for align-items and justify items */ 
    justify-content: space-evenly;
}

footer p {
    font-size: 18px;
    padding-top: 15px;
}

footer a {
    text-decoration: none;
    color: #479761;
    padding: 12px;
}

footer a:hover {
    color: white;
}

.social-media-btns {
   font-size: 30px;
}


@media screen and (max-width: 768px) {
    .header {
        display: block;
    }

    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
      display: block;
    }

    .home-text p {
        font-size: 10px;
    }

  }